<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/profile/rsz_profile_face.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Shobhit Kumar</p>
            <div>
              <small class="designation text-muted">FE Developer</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <!-- <button class="btn btn-success btn-block">New Project
          <i class="mdi mdi-plus"></i>
        </button> -->
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/badges" routerLinkActive="active">
        <i class="menu-icon mdi mdi-checkbox-multiple-blank-circle-outline"></i>
        <span class="menu-title">Badges</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/icons" routerLinkActive="active">
        <i class="menu-icon mdi mdi-chart-bubble"></i>
        <span class="menu-title">Icons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/typography" routerLinkActive="active">
        <i class="menu-icon mdi mdi-format-italic"></i>
        <span class="menu-title">Typography</span>
      </a>
    </li>
  </ul>
</nav>
